<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982389228883-ej5l6qgk9bu0jaqp5f770j5o8n966r2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982389228883-ej5l6qgk9bu0jaqp5f770j5o8n966r2n</string>
	<key>API_KEY</key>
	<string>AIzaSyCMD8Q_IiGO5qyoHbSxpPPPj1tWOF7RwyU</string>
	<key>GCM_SENDER_ID</key>
	<string>982389228883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beyond2021.nox</string>
	<key>PROJECT_ID</key>
	<string>nox-b15d6</string>
	<key>STORAGE_BUCKET</key>
	<string>nox-b15d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982389228883:ios:de81eaa965d6a85d630da6</string>
</dict>
</plist>